<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.fmmall.dao.RelatedProductsMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.fmmall.entity.RelatedProducts">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="related_id" jdbcType="VARCHAR" property="relatedId" />
    <result column="support" jdbcType="DECIMAL" property="support" />
    <result column="confidence" jdbcType="DECIMAL" property="confidence" />
  </resultMap>
  <resultMap id="ConfidenceMap" type="com.qfedu.fmmall.entity.RelatedProducts">
    <result column="confidence" jdbcType="DECIMAL" property="confidence" />
  </resultMap>

  <select id="selectConfidenceByRelatedId" resultType="double">
    select fmmall2.related_products.confidence
    from fmmall2.related_products
    where related_id=#{relatedId}
  </select>
</mapper>